body {
	background-color: #F5F5eb;
		color: #000;
	font-family: Arial,Verdana,Helvetica,sans-serif;
}
a {
	text-decoration: underline;
}

a:link {
	color: #0D4166;
}

a:active {
	color: #557082;
}

a:visited {
	color: #0D4166;
}

a:hover {
	color: #600;
		background: #93a7b3;
}
#header {
	background-color: #660000;
	
}

#content {
	font-size: 0.8em;
	border-top: 2px dotted #000;
}